--- 
---

/* Theme */
@import "{{ site.theme }}";

/* Google Font(s) */
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* External Font(s) */
@font-face {
    font-family: 'fonseca-bold';
    src: url('../fonts/fonseca-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Root */
:root {
    --gradient-direction: 90deg;
    --primary-color: #177a7a;
    --gradient-start: #CDFFD8;
    --gradient-end: #94B9FF;
}

/* General Layout */
body {
    color: white;
    font: {
        family: 'Roboto', sans-serif;
    }
    background: {
      color: var(--bg-color);
      image: linear-gradient(var(--gradient-direction), var(--gradient-start), var(--gradient-end));
      attachment: fixed;
    }
}

/* Section Styling */
section > div {
    max-width: 1800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section ~ section {
    padding-top: 80px;
}

/* Main Content */
.main-content {
    max-width: unset;
}

/* Header */
header {
    display: flex;
    padding: 0 40px !important;
    background-image: linear-gradient(var(--gradient-direction), var(--gradient-start), var(--gradient-end)) !important;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    flex: {
        wrap: no-wrap;
        direction: row;
    }

    // Links 
    a {
        color: white;
        transition: color 0.1s ease;
        text: {
            transform: uppercase;
        }
        font: {
            weight: bold;
        }
        &:hover,
        &:active {
            color: rgba(255,255,255,0.85);
            text-decoration: none;
        }
    }

    // Navigation
    ul {
        &.nav-links {
            display: flex;
            flex: {
                direction: row;
                wrap: no-wrap;
            }
            list: {
                style: none;
            }
            margin: 0; padding: 0;
            a {
                font: {
                    size: 1.8em;
                    family: 'fonseca-bold'; 
                }
                padding: 5px 15px;
            }
        }
    }

    // Logo
    img {
        height: 100px;
        width: auto;
    }

}

/* Products Section */
.products-section {

    // Main container
    .product-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;

        .product-card {
            color: #606c71;
            background: #ffffff;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .product-card:hover {
            transform: scale(1.05);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        }

        .product-card img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 15px;
        }

    }
}

/* Hero Section */
.hero-section {
    display: flex;
    background: none;
    color: var(--primary-color);
    flex-wrap: wrap;
    padding: 100px 0;
    gap: 60px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;

    // Content
    .hero-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 200px;
    }

    // Image Container
    .hero-image {
        flex: 1;
        min-width: 400px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    
        // Image
        img {
            max-width: 600px;
            width: 100%;
            height: auto;
            border-radius: 20px;
            display: block;
            margin: 0;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
        }

    }

    // CTA Buttons
    .cta-buttons {
        display: flex;
        gap: 10px;
        margin-top: 20px;

        .cta-primary,
        .cta-secondary {
            text-decoration: none;
            font-size: 1.2em;
            font-weight: bold;
            padding: 15px 30px;
            border-radius: 5px;
            background-color: var(--primary-color);
            color: #ffffff;
            border: 2px solid transparent;
            transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
        
            &:hover,
            &:hover {
                background-color: #0c4444;
            }
        }   

    }

}



/* About Section */
.story-section {
    padding: 0;
    background: none;

    // Text
    .story-text {
        max-width: 800px;
        margin-bottom: 80px;
    }

    // Title
    .story-title {
        font-size: 2.5em;
        margin-bottom: 30px;
        color: var(--primary-color);
        font-weight: bold;
    }
    
    // Description
    .story-description {
        font-size: 1.2em;
        line-height: 1.2;
        margin-bottom: 20px;
        color: var(--primary-color);
    }
    
}

/* Services Grid */
.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 60px;

    // Service Cards
    .service-card {
        background: rgba(255, 255, 255, 0.1);
        padding: 30px;
        border-radius: 15px;
        transition: transform 0.3s ease;
        text-align: center;

        // Hover
        &:hover {
            transform: translateY(-10px);
        }

        // Icon
        .service-icon {
            width: 80px;
            height: 80px;
            margin: 0 auto 20px;
            display: block;
        }

        // Title 
        .service-title {
            font-size: 1.4em;
            margin-bottom: 15px;
            color: var(--primary-color);
            font-weight: bold;
            text-align: center;
        }

        // Description
        .service-description {
            font-size: 1.1em;
            line-height: 1.5;
            color: var(--primary-color);
            text-align: center;
        }

    }

}

/* Footer */
footer {
    text-align: center;
    color: #ffffff;
    font-size: 0.9rem;

    // Link
    a {
        color: var(--primary-color);
        text-decoration: none;
        font-weight: bold;
    }

    // Container 
    .footer-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 40px !important;

        // Mango Logo
        .brand-logo {
            max-width: 150px;
        }

        // Links
        a {
            color: white;
        }

    }

    // Social Icons
    .social-links {
        padding: 20px 0;
        img {
            max-width: 30px;
        }
        a {
            &:hover,
            &:active {
                text-decoration: none;
            }
        }
    }

    // Copyright Text
    .copyright-text {
        background-color: black;
        padding: 10px 0;
    }

}