--- 
---

/* Theme */
@import "{{ site.theme }}";

/* Google Font(s) */
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* External Font(s) */
@font-face {
    font-family: 'fonseca-bold';
    src: url('../fonts/fonseca-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Root */
:root {
    --gradient-direction: 90deg;
    --primary-color: #177a7a;
    --gradient-start: #CDFFD8;
    --gradient-end: #94B9FF;
}

/* General Layout */
body {
    color: white;
    font: {
        family: 'Roboto', sans-serif;
    }
    background: {
      color: var(--bg-color);
      image: linear-gradient(var(--gradient-direction), var(--gradient-start), var(--gradient-end));
      attachment: fixed;
    }
}

/* Section Styling */
section > div {
    max-width: 1800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
header {
    display: flex;
    padding: 0 40px !important;
    background-image: linear-gradient(var(--gradient-direction), var(--gradient-start), var(--gradient-end)) !important;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    flex: {
        wrap: no-wrap;
        direction: row;
    }

    // Links 
    a {
        color: white;
        transition: color 0.1s ease;
        text: {
            transform: uppercase;
        }
        font: {
            weight: bold;
        }
        &:hover,
        &:active {
            color: rgba(255,255,255,0.85);
            text-decoration: none;
        }
    }

    // Navigation
    ul {
        &.nav-links {
            display: flex;
            flex: {
                direction: row;
                wrap: no-wrap;
            }
            list: {
                style: none;
            }
            margin: 0; padding: 0;
            a {
                font: {
                    size: 1.8em;
                    family: 'fonseca-bold'; 
                }
                padding: 5px 15px;
            }
        }
    }

    // Logo
    img {
        height: 100px;
        width: auto;
    }

}

/* Footer */


