/* Estilos generales */
:root {
    --gradient-direction: 135deg;
    --primary-color: #157878;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Fondo neutro */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(var(--gradient-direction), #94B9FF, #CDFFD8);
    color: var(--primary-color);
}
.hero-section {
    display: flex;
    background: linear-gradient(var(--gradient-direction), #94B9FF, #CDFFD8);
    color: var(--primary-color);
    flex-wrap: wrap;
    padding: 50px 20px;
    gap: 20px;
}

.hero-image img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.cta-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.cta-primary,
.cta-secondary {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #ffffff;
}

.cta-primary {
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.cta-primary:hover {
    border: 2px solid #157878;
    background-color: transparent;
}

.cta-secondary {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-secondary:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

.cta-secondary:active {
    background-color: #f9f9f9;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 90%;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* About Section */
.about-section {
    padding: 40px 20px;
    background: #eef;
    text-align: center;
    color: #444;
}

.about-section h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
}

/* Footer */
footer {
    background: linear-gradient(var(--gradient-direction), #94B9FF, #CDFFD8);
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 0.9rem;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.hero-text {
    padding: 0 10px;
}
