--- 
---

@import "{{ site.theme }}";


/* Estilos generales */
:root {
    --gradient-direction: 135deg;
    --primary-color: #177a7a;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Fondo neutro */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(var(--gradient-direction), #df190b, #CDFFD8);
    color: var(--primary-color);
}
.hero-section {
    display: flex;
    background: linear-gradient(var(--gradient-direction), #94B9FF, #CDFFD8);
    color: var(--primary-color);
    flex-wrap: wrap;
    padding: 50px 20px;
    gap: 20px;
}

.hero-image img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cta-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.cta-primary,
.cta-secondary {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: 2px solid transparent;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.cta-primary:hover,
.cta-secondary:hover {
    background-color: #0c4444;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}

.product-card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* About Section */
.about-section {
    padding: 40px 20px;
    background: #eef;
    text-align: center;
    color: #444;
}

.about-section h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
}

/* Footer */
footer {
    background: linear-gradient(var(--gradient-direction), #94B9FF, #CDFFD8);
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 0.9rem;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.hero-text {
    padding: 0 10px;
}
.hero-text h1 {
    line-height: 1.2;
}


/*
    RPECK 27/12/2024 - Page Header
*/
.page-header {
    padding-top: 0;
    padding-bottom: 0;
}

/*
    RPECK 27/12/2024 - Main content styling
*/
.main-content > section ~ section {
    margin-top: 25px;
}

/*
    RPECK 27/12/2024 - Navigation Links
*/
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.95em;
}
.nav-links a:hover,
.nav-links a:focus, 
.nav-links a:active {
    text-decoration: underline;
}

/*
    RPECK 27/12/2024 - Hero Container
*/
.hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*
    RPECK 27/12/2024 - Header Logo Area
*/
.header-logo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    column-gap: 15px;
}
.header-logo .title-area {
    text-align: left;
}
.header-logo .project-tagline {
    margin-top: 0;
    margin-bottom: 0;
}
.header-logo img {
    display: block;
}
.header-logo h1 {
    line-height: 1;
}